/* Write your CSS here */
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbd5e1;
  padding: 15px;
}

.header-heading {
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 800;
}
